@tailwind base;
@tailwind components;
@tailwind utilities;

.h-calc-screen {
  height: calc(100vh - 5rem);
  max-height: calc(100vh - 5rem);
}

.w-calc-screen {
  width: calc(100vw - 256px - 5rem);
  max-width: calc(100vw - 256px - 5rem);
}

.custom-container {
  height: calc(100vh - 6rem);
}

// Video player styling
.video-player {
  height: calc(100vh - 7rem);
  position: relative;
}

// Video player controls
.video-controls {
  position: absolute;
  z-index: 10;
  width: calc(100vw - 3rem);
  height: 100px;
  bottom: 16px;
  transition: all 1s;
  background-color: aliceblue;
}

.video-controls-hidden {
  height: 0px !important;
}

// Tooltip parent
.cstm-tooltip {
  position: relative;
  display: inline-block;
}

// Hide the tooltip
.cstm-tooltip-text {
  position: absolute;
  visibility: hidden;
  z-index: 10;
}

// Show the tooltip on hover of parent
.cstm-tooltip:hover {
  
  .cstm-tooltip-text {
    visibility: visible !important;
  }
}

// Customize scroll bar

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #404040;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  opacity: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 20px;
}